#backdrop img, #poster img{
  max-width:100%;
  height: auto;
}

#footer img {
  width: 100px;
  height: auto;
}

@media (min-width:787px) {
  #poster{
    height: 336;
  }

  #backdrop {
    width: 100%;
  }

  #poster {
    width: 29.16667%;
  }

  #scoreboard {
    width: 70.83333%;
  }
}