<!--The content below is only a placeholder and can be replaced.-->

<div id="backdrop"><img src="http://image.tmdb.org/t/p/w780/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg"></img></div>
        <div id="scoreboard-poster" class="row">
          <div class="col" id="poster"><img src="http://image.tmdb.org/t/p/w342/uxzzxijgPIY7slzFvMotPv8wjKA.jpg"></img></div>
            <div class="col">
    <div class="row">
        <div id="scoreboard">This is where the scoreboard should be located. If the scorecard is larger what happens. If the scorecard is larger what happens.</div>
        <div id="addrating"><img src="img/rating.png"></img></div>
    </div>
</div>
</div>
